In [2]:
print("if we are taking about function then thing about () automatic")

Hello World

In [3]:
print('Hello World')

Hello World

the main diffrence b/w single '' and "" couts is u can use ''single couts in "" double but u can't use ""double in single

# Data Types and Variables

In [5]:
#int
#str
#bool
#float

In [6]:
x=5

In [7]:
print(x)

5

In [8]:
type(x)

int

In [9]:
# this is how we can check the data type and its variables using type ()

In [10]:
print('123')

123

In [ ]:
print(123)

In [11]:
type(print)

builtin_function_or_method

In [ ]:
# any type of number word special char. is like 'asdas45432@___()!##$#@$' inclue in str if we use '' or ""

In [18]:
a='123'

In [19]:
print(a)

123

In [20]:
type(a)

str

In [21]:
a=132

In [22]:
a

132

In [23]:
type(a)

int

In [24]:
# Floot

In [25]:
a=1.5

In [26]:
print(a)

1.5

In [27]:
type(a)

float

In [28]:
# wap to add two numbers
# wap to swap two numbers

In [29]:
a=5
b=6
print(a+b)

11

In [35]:
a=5
b=6
a,b=b,a
print(a,b)

6 5

In [37]:
# this is how u can swap the two numbers without using thrird variable

In [38]:
# wap to devide two numbers

In [39]:
a=10
b=2
print(a/b)

5.0

In [40]:
# now if u want single value then use // this for the same let's see
# this is how u can use the double this

In [42]:
a=9
b=3
c=a//b
print(c)

3

In [43]:
# mod operaters
a=9
b=3
c=a%b
c

0

In [44]:
print('''this is me 
and lets 
code''')

this is me
and lets
code

In [49]:
a=50
b=90
c=45

d=(a+b+c)/3
d

61.666666666666664